
body {
    font-family: 'Helvetica', sans-seri;
}

.category {
    display: block;
    opacity: 1;
    background-color: rgba(200, 220, 250, 0.5);
    width: 400px;
    font-size: 20px;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 20px;
    padding-bottom: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.input {
    display: block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    height: 800px;
    width: 1500px;
}

h1 {
    font-size: 30px;
}