
body {
    font-family: 'Helvetica', sans-seri;
}

.category {
    display: block;
    opacity: 1;
    background-color: rgba(181, 200, 236, 0.534);
    width: 400px;
    font-size: 20px;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 20px;
    padding-bottom: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.input {
    display: block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    height: 750px;  /* originally 800 */
    width: 600px;   /* originally 1500 */
}

h1 {
    font-size: 30px;
}